<div class="content"><form name="MailtoCustomer">
<table class="table">
<thead>
<tr>
<th>
<p style="text-align: left;">&nbsp;Hi,</p>
<p style="text-align: left;">Your account was created successfully.</p>
<p style="text-align: left;">Login: <strong>{{login}}</strong></p>
<p style="text-align: left;">Your temporary password is:<strong>{{password}}</strong></p>
<p style="text-align: left;">Position: <strong>{{position}}</strong></p>
<p style="text-align: left;">Please use this process to change the temporary password before your first login: <a href="http://ent303.sharepoint.hpe.com/teams/SaaSSOC/NOC/Security/Global%20Security%20Processes/Domain%20Password%20Reset.mht ">http://ent303.sharepoint.hpe.com/teams/SaaSSOC/NOC/Security/Global%20Security%20Processes/Domain%20Password%20Reset.mht </a></p>
<p style="text-align: left;">For the UT URL: <a href="https://smsaasunitoolprod.saas.hpe.com/sm/index">https://smsaasunitoolprod.saas.hpe.com/sm/index</a>.</p>
<p style="text-align: left;"><span style="background-color: #ffff00;">Please make sure to read the whole document before trying to reset the password, in order to be able to enter a password of your choice. Remember, you need to uncheck the proxy for that and make sure to add INFRA\ in front of your log in name (ie. INFRA\first.last).</span></p>
<p style="text-align: left;">&nbsp;Regards,</p>
<p style="text-align: left;">Micro-Focus Security Team,</p>
<p style="text-align: left;"><img src="http://4vector.com/i/free-vector-micro-focus_044241_micro-focus.png" alt="" width="140" height="140" /><img src="https://www.ixiacom.com/sites/default/files/2016-03/ProductsAndSolutions-SecurityHero.png" alt="" width="102" height="79" /></p>
</th>
</tr>
</thead>
</table>
</form></div>
